@model UI.Models.Praticien

@{
    ViewData["Title"] = "Selectionnez le praticiens souhaité:";
}

<h2 style="margin-top: 20px; margin-bottom: 20px;padding-left: 300px;">@ViewData["Title"]</h2>


<div style="margin: 0 auto; width: 50%;">
    <table class="table">
        <thead>
            <tr>
                <th>Nom du Praticien</th>
                <th>Specialité</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var praticien in ViewBag.Praticiens)
            {
                <tr>
                    <td>docteur @praticien.NomPraticien</td>
                    <td>@praticien.Specialite</td>
                    <td>
                        <div style="margin-right: 20px;">
                           @* <a href="@Url.Action("Index", "Rdv", new { praticienId = praticien.Id, nomPraticien = praticien.NomPraticien })" class="btn btn-primary">accéder à l'agenda</a>*@
                            <a href="@Url.Action("ListeDesRdv", "Rdv", new { praticienId = praticien.Id, nomPraticien = praticien.NomPraticien })" class="btn btn-primary">accéder à l'agenda</a>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>